body {
    background-color: aliceblue;
}
h1 {
    color: black;
}
table {
    border-collapse: collapse;
}
table, th, td{
    border: 1px solid black;
    padding: 5px;
}
th {
    text-align: left;
    background-color: bisque ;
}
td {
    background-color: honeydew;
}

.nameClm {
    min-width: 200px;
}

.midDataClm {
    min-width: 105px;
}

.sections {
    padding-left: 25px;
}

.projectType {
    padding-left: 25px;;
}

.client {
    padding-left: 25px;;
}